<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FoodLogger"
        android:name=".FoodLoggerApp">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.FoodLogger">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.xml.AddInventoryActivity"
            android:exported="false"
            android:label="@string/action_add_item"
            android:theme="@style/Theme.FoodLogger" />

        <activity
            android:name=".ui.xml.EditInventoryActivity"
            android:exported="false"
            android:label="@string/action_edit"
            android:theme="@style/Theme.FoodLogger" />

        <activity
            android:name=".ui.xml.ReceiptCaptureActivity"
            android:exported="false"
            android:label="@string/action_scan_receipt"
            android:theme="@style/Theme.FoodLogger"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.xml.ReceiptReviewActivity"
            android:exported="false"
            android:label="Review Receipt"
            android:theme="@style/Theme.FoodLogger" />

        <activity
            android:name=".ui.xml.ReceiptDetailActivity"
            android:exported="false"
            android:label="Receipt Details"
            android:theme="@style/Theme.FoodLogger" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>

</manifest>
